USE [master]
GO
/****** Object:  Database [JOBSDB]    Script Date: 09/10/2015 22:15:45 ******/
CREATE DATABASE [JOBSDB] ON  PRIMARY 
( NAME = N'JOBSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\JOBSDB.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JOBSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\JOBSDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JOBSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JOBSDB]
GO
/****** Object:  Table [dbo].[TBL_CATEGORY]    Script Date: 09/10/2015 22:15:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CATEGORY](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_NAME] [varchar](200) NOT NULL,
 CONSTRAINT [PK_TBL_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_TBL_CATEGORY] UNIQUE NONCLUSTERED 
(
	[CATEGORY_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_CATEGORY] ON
INSERT [dbo].[TBL_CATEGORY] ([CATEGORY_ID], [CATEGORY_NAME]) VALUES (1, N'Accounting/Finance')
INSERT [dbo].[TBL_CATEGORY] ([CATEGORY_ID], [CATEGORY_NAME]) VALUES (8, N'Design/Creative')
INSERT [dbo].[TBL_CATEGORY] ([CATEGORY_ID], [CATEGORY_NAME]) VALUES (7, N'Education/Training')
SET IDENTITY_INSERT [dbo].[TBL_CATEGORY] OFF
/****** Object:  Table [dbo].[TBL_USERINFO]    Script Date: 09/10/2015 22:15:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_USERINFO](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[USER_PASSWORD] [varchar](50) NOT NULL,
	[USER_EMAIL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_USERINFO] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_TBL_USERINFO] UNIQUE NONCLUSTERED 
(
	[USER_EMAIL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_USERINFO] ON
INSERT [dbo].[TBL_USERINFO] ([USER_ID], [USER_NAME], [USER_PASSWORD], [USER_EMAIL]) VALUES (1, N'Mizanur Rahman', N'12345', N'mizan@gmail.com')
INSERT [dbo].[TBL_USERINFO] ([USER_ID], [USER_NAME], [USER_PASSWORD], [USER_EMAIL]) VALUES (4, N'Rana', N'rana', N'rana@gmail.com')
INSERT [dbo].[TBL_USERINFO] ([USER_ID], [USER_NAME], [USER_PASSWORD], [USER_EMAIL]) VALUES (5, N'', N'222222', N'')
SET IDENTITY_INSERT [dbo].[TBL_USERINFO] OFF
/****** Object:  Table [dbo].[TBL_JOB_DESCRIPTION]    Script Date: 09/10/2015 22:15:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_JOB_DESCRIPTION](
	[JOB_ID] [int] IDENTITY(1,1) NOT NULL,
	[JOB_POSITION] [varchar](200) NULL,
	[JOB_COMPANY_NAME] [varchar](200) NULL,
	[JOB_EDUCATION] [varchar](300) NULL,
	[JOB_EXPERIENCE] [varchar](max) NULL,
	[JOB_SALARY_RANGE] [varchar](150) NULL,
	[JOB_VACANCIES] [int] NULL,
	[JOB_DESCRIPTION_RESPONSIBILITY] [varchar](max) NULL,
	[JOB_CATEGORY_ID] [int] NULL,
 CONSTRAINT [PK_TBL_JOB_DESCRIPTION] PRIMARY KEY CLUSTERED 
(
	[JOB_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_JOB_DESCRIPTION] ON
INSERT [dbo].[TBL_JOB_DESCRIPTION] ([JOB_ID], [JOB_POSITION], [JOB_COMPANY_NAME], [JOB_EDUCATION], [JOB_EXPERIENCE], [JOB_SALARY_RANGE], [JOB_VACANCIES], [JOB_DESCRIPTION_RESPONSIBILITY], [JOB_CATEGORY_ID]) VALUES (1, N'Sr. Software Engineer - ASP.Net', N'MrSoft Ltd', N'B.Sc. in from a reputable university', N'At least 5 year(s)', N'25000', 3, N'sdfalsdfasldjflkasjflksadjflasdfklasdfjas', 2)
INSERT [dbo].[TBL_JOB_DESCRIPTION] ([JOB_ID], [JOB_POSITION], [JOB_COMPANY_NAME], [JOB_EDUCATION], [JOB_EXPERIENCE], [JOB_SALARY_RANGE], [JOB_VACANCIES], [JOB_DESCRIPTION_RESPONSIBILITY], [JOB_CATEGORY_ID]) VALUES (2, N'Web Developer', N'Naf Soft Ltd', N'B.Sc. in from a reputable university', N'NA', N'12000', 5, N'C#.Net,ASP.NET, MS SQL Server,JavaScript,HTML5,CSS3,', 2)
INSERT [dbo].[TBL_JOB_DESCRIPTION] ([JOB_ID], [JOB_POSITION], [JOB_COMPANY_NAME], [JOB_EDUCATION], [JOB_EXPERIENCE], [JOB_SALARY_RANGE], [JOB_VACANCIES], [JOB_DESCRIPTION_RESPONSIBILITY], [JOB_CATEGORY_ID]) VALUES (3, N'Software Engineer (C/C++)', N'Structured Data Systems Limited', N'B.Sc. in Computer Science/ Engineering/equivalent from any reputed university.', N' 2 to 5 year(s)', N'Tk. 80000 - 120000 ', 2, N'We are looking for Senior level/ mid-level Software Engineer: C/C++', 2)
SET IDENTITY_INSERT [dbo].[TBL_JOB_DESCRIPTION] OFF
/****** Object:  View [dbo].[DESCRIPTION_CATEGORY]    Script Date: 09/10/2015 22:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DESCRIPTION_CATEGORY]
AS
Select TBL_JOB_DESCRIPTION.JOB_ID, TBL_JOB_DESCRIPTION.JOB_POSITION,TBL_JOB_DESCRIPTION.JOB_COMPANY_NAME,TBL_JOB_DESCRIPTION.JOB_EDUCATION,TBL_JOB_DESCRIPTION.JOB_EXPERIENCE,TBL_JOB_DESCRIPTION.JOB_SALARY_RANGE,TBL_JOB_DESCRIPTION.JOB_VACANCIES,TBL_JOB_DESCRIPTION.JOB_DESCRIPTION_RESPONSIBILITY,TBL_CATEGORY.CATEGORY_NAME from TBL_JOB_DESCRIPTION LEFT OUTER JOIN  TBL_CATEGORY ON TBL_JOB_DESCRIPTION.JOB_CATEGORY_ID=TBL_CATEGORY.CATEGORY_ID;
GO
/****** Object:  View [dbo].[DESCRIPTION_BY_CATEGORY]    Script Date: 09/10/2015 22:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DESCRIPTION_BY_CATEGORY]
AS
Select TBL_JOB_DESCRIPTION.JOB_ID, TBL_JOB_DESCRIPTION.JOB_POSITION,TBL_JOB_DESCRIPTION.JOB_COMPANY_NAME,TBL_JOB_DESCRIPTION.JOB_EDUCATION,TBL_JOB_DESCRIPTION.JOB_EXPERIENCE,TBL_JOB_DESCRIPTION.JOB_SALARY_RANGE,TBL_JOB_DESCRIPTION.JOB_VACANCIES,TBL_JOB_DESCRIPTION.JOB_DESCRIPTION_RESPONSIBILITY,TBL_CATEGORY.CATEGORY_NAME,TBL_CATEGORY.CATEGORY_ID from TBL_JOB_DESCRIPTION LEFT OUTER JOIN  TBL_CATEGORY ON TBL_JOB_DESCRIPTION.JOB_CATEGORY_ID=TBL_CATEGORY.CATEGORY_ID;
GO
/****** Object:  ForeignKey [FK_TBL_JOB_DESCRIPTION_TBL_CATEGORY]    Script Date: 09/10/2015 22:15:48 ******/
ALTER TABLE [dbo].[TBL_JOB_DESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FK_TBL_JOB_DESCRIPTION_TBL_CATEGORY] FOREIGN KEY([JOB_CATEGORY_ID])
REFERENCES [dbo].[TBL_CATEGORY] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[TBL_JOB_DESCRIPTION] CHECK CONSTRAINT [FK_TBL_JOB_DESCRIPTION_TBL_CATEGORY]
GO
